# Mi8953
CONFIG_MACH_XIAOMI_MSM8953=y
CONFIG_MACH_XIAOMI_ROSY=y
CONFIG_MACH_XIAOMI_YSL=y
CONFIG_MACH_XIAOMI_VINCE=y
CONFIG_MACH_XIAOMI_MIDO=y
CONFIG_MACH_XIAOMI_MARKW=y
CONFIG_MACH_XIAOMI_SAKURA=y

# Camera
CONFIG_MSMB_CAMERA_LEGACY=y
CONFIG_MSMB_CAMERA_LEGACY_M=y
CONFIG_MSMB_CAMERA_LEGACY_N=y

# Fingerprint
CONFIG_FINGERPRINT_FPC=y
CONFIG_FINGERPRINT_FPC1020=y
CONFIG_FINGERPRINT_FPC1020_ROSY=y
CONFIG_GOODIX_FINGERPRINT=y
CONFIG_FINGERPRINT_GOODIX_GF3208=y
CONFIG_FINGERPRINT_GOODIX_GF3208_VINCE=y
CONFIG_FINGERPRINT_GF3208_ROSY=y

# IR depen
CONFIG_MEDIA_RC_SUPPORT=y
CONFIG_RC_DEVICES=y

# IR
CONFIG_SPI_PEELIR=y
CONFIG_IR_PWM_MI8953=y
CONFIG_RC_CORE=y
CONFIG_RC_MAP=y
CONFIG_RC_DECODERS=y
CONFIG_LIRC=y
CONFIG_IR_LIRC_CODEC=y
# CONFIG_USER_RC_INPUT is not set
# CONFIG_USER_SP_RC_INPUT is not set
CONFIG_IR_NEC_DECODER=y
CONFIG_IR_RC5_DECODER=y
CONFIG_IR_RC6_DECODER=y
CONFIG_IR_JVC_DECODER=y
CONFIG_IR_SONY_DECODER=y
CONFIG_IR_RC5_SZ_DECODER=y
CONFIG_IR_SANYO_DECODER=y
# CONFIG_IR_MCE_KBD_DECODER is not set
# CONFIG_IR_DUMP_DECODER is not set
CONFIG_RC_DEVICES=y
# CONFIG_RC_ATI_REMOTE is not set
# CONFIG_IR_IMON is not set
# CONFIG_IR_MCEUSB is not set
# CONFIG_IR_REDRAT3 is not set
# CONFIG_IR_STREAMZAP is not set
# CONFIG_IR_IGUANA is not set
# CONFIG_IR_TTUSBIR is not set
# CONFIG_RC_LOOPBACK is not set
# CONFIG_IR_GPIO_CIR is not set
# CONFIG_IR_GPIO is not set
# CONFIG_IR_MSM_GENI is not set

CONFIG_LEDS_AW2013_MI8953=y

# TAS2557
CONFIG_TAS2557_REGMAP=y
CONFIG_TAS2557_CODEC=y
CONFIG_TAS2557_MISC=y

# Touchscreen
CONFIG_TOUCHSCREEN_SYSCTL_MI8953=y
CONFIG_TOUCHSCREEN_DOUBLETAP2WAKE=y
CONFIG_TOUCHSCREEN_SWEEP2WAKE=y
CONFIG_TOUCHSCREEN_FTS_MI8953=y
# CONFIG_TOUCHSCREEN_FT5446=y
CONFIG_TOUCHSCREEN_GT9XX=y
CONFIG_TOUCHSCREEN_TD4310_E7=y
CONFIG_TOUCHSCREEN_TD4310_LANSI_E7=y
CONFIG_TOUCHSCREEN_NT36XXX=y
CONFIG_TOUCHSCREEN_NT36XXX_I2C=y
CONFIG_TOUCHSCREEN_IST3038C=y